.about {
  padding: 40px;
}

.cover {
  background-image: url(/williammura/images/cover.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 350px;
  position: relative;
}

.cover .img-portrait {
  width: 200px;
  border-radius: 300px;
  position: absolute;
  border: 5px solid #FFFFFF;
  left: 60px;
  top: 220px;
}

.about .description {
  padding: 60px 20px;
  font-size: 18px;
  text-align: justify;
}

.about .signature {
  text-align: right;
  font-style: italic;
  font-size: 0.8em
}
