/* Swiper */

.swiper-container {
  height: 600px;
}

/* Image */

.img-carousel {
  height: 600px;
}

/* Buttons */

.nav-button.swiper-button-prev,
.nav-button.swiper-button-next {
  background: rgba(0, 0, 0, 0.2);
  height: 60px;
  width: 40px;
  cursor: pointer;
}
.nav-button.swiper-button-prev:hover,
.nav-button.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.5);
}
.nav-button.swiper-button-prev {
  left: 0px;
}
.nav-button.swiper-button-next {
  right: 0px;
}
.nav-button.swiper-button-prev:after,
.nav-button.swiper-button-next:after {
  font-size: 18px;
  color: #FFFFFF;
}
