/* Swiper */

.swiper-container {
  height: 600px;
}

/* Image */

.img-carousel {
  height: 600px;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .content {
    height: unset !important;
  }
  .menu {
    float: unset;
    text-align: center;
  }
  .menu span {
    margin: 0px 10px;
  }
  .header .title {
    font-size: 40px;
    text-align: center;
  }
  .swiper-container {
    height: auto;
  }
  .swiper-slide.photo-item .img-carousel {
    width: 100%;
    height: auto;
  }
  .photo-item {
    margin-bottom: -3px;
  }
  .photo-item img {
    width: 100%;
    height: auto;
  }
  .social {
    text-align: center;
  }
  .back-to-top {
    display: block;
  }
  .cover .img-portrait {
    left: calc(50% - 100px) !important;
  }
}

/* Buttons */

.nav-button.swiper-button-prev,
.nav-button.swiper-button-next {
  background: rgba(0, 0, 0, 0.2);
  height: 60px;
  width: 40px;
  cursor: pointer;
}
.nav-button.swiper-button-prev:hover,
.nav-button.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.5);
}
.nav-button.swiper-button-prev {
  left: 0px;
}
.nav-button.swiper-button-next {
  right: 0px;
}
.nav-button.swiper-button-prev:after,
.nav-button.swiper-button-next:after {
  font-size: 18px;
  color: #FFFFFF;
}
