.header {
  background: #FFFFFF;
  padding: 60px 40px;
}

.header .title a,
.header .title {
  color: #202020;
  text-decoration: none;
}
.header .title {
  font-size: 45px;
  font-weight: 500;
  font-family: "Futura PT";
}

.menu {
  color: #707070;
  float: right;
}

.menu span {
  margin: 0px 25px;
  font-size: 14px;
  font-weight: 500;
}

.menu a {
  text-decoration: none;
  color: #707070;
}

.menu a:hover {
  color: #000000;
}
